WCFServiceApp.Test/Connected Services/ServiceReferenceInterciti/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wcfserviceappinterciti.azurewebsites.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="FindAdminByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ci" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAdminByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindAdminByIDResult" nillable="true" type="q1:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClienteByCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClienteByCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindClienteByCorreoResult" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClienteByTelefono">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClienteByTelefonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindClienteByTelefonoResult" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConductorByTelefono">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConductorByTelefonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindConductorByTelefonoResult" nillable="true" type="q4:Conductor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecorridoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecorridoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindRecorridoByIdResult" nillable="true" type="q5:Recorrido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAñoVehiculoByIdAño">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAñoVehiculoByIdAñoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindAñoVehiculoByIdAñoResult" nillable="true" type="q6:AñoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindModeloVehiculoByModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindModeloVehiculoByModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindModeloVehiculoByModeloResult" nillable="true" type="q7:ModeloVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTipoVehiculoByTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTipoVehiculoByTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindTipoVehiculoByTipoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarPass">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarPassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUbicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarUbicacionesResult" nillable="true" type="q8:ArrayOfMisUbicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUbicacionByNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUbicacionByNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindUbicacionByNombreResult" nillable="true" type="q9:MisUbicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUbicacionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUbicacionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindUbicacionByIDResult" nillable="true" type="q10:MisUbicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUbicacionesTemporales">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUbicacionesTemporalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUbicacionesTemporalesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecorridos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="op" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecorridosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetRecorridosResult" nillable="true" type="q11:ArrayOfRecorrido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarUbicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat" type="xs:decimal" />
        <xs:element minOccurs="0" name="lng" type="xs:decimal" />
        <xs:element minOccurs="0" name="idCreador" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarUbicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarUbicacionesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecorridosByCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecorridosByClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindRecorridosByClienteResult" nillable="true" type="q12:ArrayOfRecorrido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecorridosByConductor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecorridosByConductorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindRecorridosByConductorResult" nillable="true" type="q13:ArrayOfRecorrido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SenMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="to" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="asunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SenMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SenMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUbicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUbicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarUbicacionesResult" nillable="true" type="q14:ArrayOfMisUbicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarVehiculoResult" nillable="true" type="q15:ArrayOfVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRecorrido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRecorridoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarRecorridoResult" nillable="true" type="q16:ArrayOfRecorrido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRecorridoCo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConductor" type="xs:int" />
        <xs:element minOccurs="0" name="texto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarRecorridoCoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarRecorridoCoResult" nillable="true" type="q17:ArrayOfRecorrido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUbicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConductor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUbicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarUbicacionesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUbicaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="conductor" nillable="true" type="q18:MisUbicaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarUbicacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarUbicacionesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMarcaVehiculoByMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMarcaVehiculoByMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindMarcaVehiculoByMarcaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConductorByMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ci" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConductorByMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindConductorByMailResult" nillable="true" type="q19:Conductor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pic" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarClientesResult" nillable="true" type="q20:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="cliente" nillable="true" type="q21:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarClienteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarConductores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pic" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarConductoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarConductoresResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConductores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarConductoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarConductoresResult" nillable="true" type="q22:ArrayOfConductor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarConductor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConductor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarConductorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarConductorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarConductor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="conductor" nillable="true" type="q23:Conductor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarConductorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarConductorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="estado" type="xs:boolean" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pic" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarAdminResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAdmin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarAdminResult" nillable="true" type="q24:ArrayOfAdmin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAdmin" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAdminResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="admin" nillable="true" type="q25:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarAdminResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="admin" nillable="true" type="q26:TipoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarTipoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="admin" nillable="true" type="q27:ModeloVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarModeloResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="admin" nillable="true" type="q28:MarcaVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarMarcaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarAnio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="admin" nillable="true" type="q29:AñoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarAnioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarAnioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="placa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" type="xs:int" />
        <xs:element minOccurs="0" name="modelo" type="xs:int" />
        <xs:element minOccurs="0" name="año" type="xs:int" />
        <xs:element minOccurs="0" name="marca" type="xs:int" />
        <xs:element minOccurs="0" name="pic" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVehiculo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarVehiculoResult" nillable="true" type="q30:ArrayOfVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="vehiculo" nillable="true" type="q31:Vehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRecorrido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarRecorridoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarRecorridoResult" nillable="true" type="q32:ArrayOfRecorrido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarRecorrido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitudOrigen" type="xs:decimal" />
        <xs:element minOccurs="0" name="longitudOrigen" type="xs:decimal" />
        <xs:element minOccurs="0" name="longitudDestino" type="xs:decimal" />
        <xs:element minOccurs="0" name="latitudDestino" type="xs:decimal" />
        <xs:element minOccurs="0" name="fechaRecorrido" type="xs:dateTime" />
        <xs:element minOccurs="0" name="valorRecorrido" type="xs:decimal" />
        <xs:element minOccurs="0" name="idConductor" type="xs:int" />
        <xs:element minOccurs="0" name="idCliente" type="xs:int" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="calif" type="xs:int" />
        <xs:element minOccurs="0" name="comentario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarRecorridoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarRecorridoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRecorrido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRecorrido" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarRecorridoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarRecorridoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRecorrido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="recorrido" nillable="true" type="q33:Recorrido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarRecorridoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarRecorridoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClienteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClienteByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindClienteByIDResult" nillable="true" type="q34:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sha512_hash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sha512_hashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sha512_hashResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sha256_hash">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sha256_hashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sha256_hashResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConductorByCI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ci" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConductorByCIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindConductorByCIResult" nillable="true" type="q35:Conductor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConductorByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConductorByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindConductorByIDResult" nillable="true" type="q36:Conductor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindVehiculoByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindVehiculoByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindVehiculoByIDResult" nillable="true" type="q37:Vehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTipoVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTipoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarTipoVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoVehiculo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarTipoVehiculoResult" nillable="true" type="q38:ArrayOfTipoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTipoVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTipoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarTipoVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMarcaVehiculo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMarcaVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarMarcaVehiculoResult" nillable="true" type="q39:ArrayOfMarcaVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMarcaVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMarcaVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarMarcaVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarMarcaVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarAñoVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarAñoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarAñoVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnioVehiculo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnioVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarAnioVehiculoResult" nillable="true" type="q40:ArrayOfAñoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAñoVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idÁñoVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAñoVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarAñoVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarModeloVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="año" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idMarca" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarModeloVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarModeloVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMarcaVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarMarcaVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarMarcaVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarModeloVehiculo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarModeloVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarModeloVehiculoResult" nillable="true" type="q41:ArrayOfModeloVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarModeloVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idÁñoVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarModeloVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarModeloVehiculoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTipoVehiculoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTipoVehiculoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindTipoVehiculoByIdResult" nillable="true" type="q42:TipoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAñoVehiculoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAñoVehiculoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindAñoVehiculoByIdResult" nillable="true" type="q43:AñoVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMarcaVehiculoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMarcaVehiculoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindMarcaVehiculoByIdResult" nillable="true" type="q44:MarcaVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindModeloVehiculoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindModeloVehiculoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindModeloVehiculoByIdResult" nillable="true" type="q45:ModeloVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindModeloVehiculoByMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idMarca" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindModeloVehiculoByMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindModeloVehiculoByMarcaResult" nillable="true" type="q46:ArrayOfModeloVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClienteByCI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClienteByCIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindClienteByCIResult" nillable="true" type="q47:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAdminByCI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ci" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAdminByCIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindAdminByCIResult" nillable="true" type="q48:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAdminByCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ci" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAdminByCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FindAdminByCorreoResult" nillable="true" type="q49:Admin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>